.header {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  width: 100vw;            
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  position: fixed;        
  top: 0;                  
  left: 0;                 
  z-index: 1000;          
  width: 100%;            
  box-sizing: border-box;
  margin-left: 250px;  
}


.header-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
